<!DOCTYPE html>
<html>
<head>
    <link rel="import" href="components/head/head.tpl?__inline">
</head>
<body>
    <div id="wrap" class="p-community">
        <ui-header title='社团集体风采' skin="s-blue">
            <ui-header-back slot='left'></ui-header-back>
        </ui-header>
        <ui-tab :items='types' skin="s-blue" :selected="selectedType" @select="selectType" v-if="types && types.length"></ui-tab>
        <div class="community-list">
            <div class="community-item" v-for='course in courseList'>
                <div class="course-infor">
                    <div class="name" v-text="course.courseName"></div>
                    <div class="school-name" v-text="course.schoolName"></div>
                    <div class="address" v-text="course.courseAddress"></div>
                    <div class="time" v-text="course.courseTime"></div>
                </div>
                <div class="infor">
                    <div class="f-clearfix">
                        <div class="date">日期：<span v-text="course.evaTime"></span></div>
                        <div>任课老师：<span v-text="course.teacherName"></span></div>
                    </div>
                    <div class="f-mt10" v-text="course.comment"></div>
                    <div class="img-list">
                        <img :src="item.url" alt="" v-for='(item,index) in course.photos' @click='checkbigPic(index,course)'>
                    </div>
                </div>
            </div>
            <div class="btn btn-more" @click="getComInfo(type)" v-if="!isLoading  && dataTotal > pageSize*pageNo">点击加载更多</div>
            <ui-nofind v-if="!isLoading && !dataTotal"></ui-nofind>
        </div>
        <!-- 点击查看大图 -->
        <div class="checkbigPic" v-if='showImg' @click='checkbigPic()'>
            <div class='mengImg'>
                <ui-banner :items='photos' :speed='100000' :is-show-dots='false' :active='photoIndex' @changes="getIndex" :is-height='isHeights'></ui-banner>
            </div>
        </div>
        <ui-toast :show="toast.show" :text="toast.text" :type="toast.type" @on-hide="hideToast"></ui-toast>
    </div>
    <script>
    require('community.js');
    </script>
</body>
</html>
